[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moviepy = "*"
pygame = "*"
tkvideoplayer = "*"
python-vlc = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
